
@charset "utf-8";
/* CSS Document */

.espaciocentral{
	background-color:#FFD0AD;
	width: 30em;
	margin: auto;
	min-height: 5em;
	padding: 10px;
}
section{
	margin-top: 10px;
	background-color: beige;
	min-height: 5em;
	padding:10px;
}
.caja100{
	background-color:#FFC360;
	min-height: 5em;
}
h1{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	
	margin-top: 0;
}
p{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
/*.lateral{
}*/
/*.lateral p{
	display:block;
}*/
.barra{
	background-color: crimson;
}
header{
	background-color: red;
	height:75px;
}